<div class="flats-information">

<div class="flats-container">
<%for flat in @flats%>

<section class="flat-content">
  <p>ID: <%=flat.id%></p>
  <p>Location: <%=flat.location%></p>
  <p>Available space: <%=flat.available_space%></p>
  <p>Animal friendly: <%=flat.yes_no(flat.animal_friendly)%></p>
  <p>Smokers friendly: <%=flat.yes_no(flat.smokers_friendly)%></p>

<a href="/flats/<%=flat.id%>/edit"><button class="grey-button">Edit</button></a>
<form action="/flats/<%=flat.id%>/delete" method="post">
  <input class="red-button" type='submit' value="DELETE">

</form>
    <a href="/flats/<%=flat.id%>"><button class="grey-button">Show details</button></a>
    </section>
<%end%>
</div>
</div>
