<%for flat in @flats%>
<section class="manager-data">
  <p>ID: <%=flat.id%></p>
  <p>Location: <%=flat.location%></p>
  <p>Available space: <%=flat.available_space%></p>
  <p>Animal friendly: <%=flat.animal_friendly%></p>
  <p>Smokers friendly: <%=flat.smokers_friendly%></p>
</section>
<%end%>
