<h1>Edit form</h1>
<div class="signup-page-form">
  <form id="page-main-id" class="sign-up-form" action="/tenants/<%=@tenant.id()%>" method="POST">

    <label for="first_name"></label>
    <input type="text" placeholder="First name" name="first_name" value="<%= @tenant.first_name%>">

    <label for="last_name"></label>
    <input type="text" placeholder="Last name" name="last_name" value="<%= @tenant.last_name%>">

    <label for="age"></label>
    <input type="number" placeholder="Age" name="age" value="<%= @tenant.age%>">






    <label for="nationality"></label>
    <select name="nationality" placeholder="Nationality" class="nationality-select">
      <% for nationality in @nationalities %>
      <option value="<%=nationality%>" <%= 'selected' if @tenant.nationality == nationality%>><%=nationality%></option>
      <%end%>
    </select>






    <label for="gender"></label>
    <select name="gender" placeholder="Gender" class="gender">
      <option disabled selected value="nill">Gender</option>
      <option value="male">Male</option>
      <option value="female">Female</option>
      <option value="prefer_not_to_say">Prefer not to say</option>
    </select>

    <label for="preferred_location"></label>
    <input type="text" placeholder="Preferred location" name="preferred_location" value="<%= @tenant.preferred_location%>">

    <label for="profession"></label>
    <input type="text" placeholder="Your profession" name="profession" value="<%= @tenant.profession%>">

    <label for="animal"></label>
    <select name="animal" placeholder="Do you have an animal?" id="animal">
      <option disabled selected value="nill">Do you have an animal?</option>
      <option value="false">No</option>
      <option value="true">Yes</option>
    </select>

    <label for="can_live_with_animal"></label>
    <select name="can_live_with_animal" placeholder="Can you live with an animals?" id="can_live_with_animals">
      <option disabled selected value="nill">Can you live with an animals?</option>
      <option value="false">No</option>
      <option value="true">Yes</option>
    </select>

    <label for="smoke"></label>
    <select name="smoke" placeholder="Are you a smoker?" id="smoke-select">
      <option disabled selected value="<%= @tenant.smoke%>">Are you a smoker?</option>
      <option value="false">No</option>
      <option value="true">Yes</option>
    </select>

    <label for="can_live_with_smokers"></label>
    <select name="can_live_with_smokers" placeholder="Can you live with smokersrs?" id="can_live_with_smokers-select">
      <option disabled selected value="nill">Can you live with smokers?</option>
      <option value="false">No</option>
      <option value="true">Yes</option>
    </select>

    <input type="submit" value="Save changes">
  </form>
</div>
<!-- <meta http-equiv="refresh" content="3;url=/" /> -->
