<p>yeah!!!</p>


<%for tenant in @tenants%>
<section class="tenants-list">
  <p>ID: <%=tenant.id%></p>
  <p>First name: <%=tenant.first_name%></p>
  <p>Age: <%=tenant.age%></p>
  <p>Nationality: <%=tenant.nationality%></p>
  <p>Gender: <%=tenant.gender%></p>
  <p>Preferred Location: <%=tenant.preferred_location%></p>
  <p>Profession: <%=tenant.profession%></p>
  <p>Animal: <%=tenant.animal%></p>
  <p>Can live with animal: <%=tenant.can_live_with_animal%></p>
  <p>Smoke: <%=tenant.smoke%></p>
  <p>Can live with smokers: <%=tenant.can_live_with_smokers%></p>
</section>
<%end%>
