<div class="manage-tenants">
<section >
  <p>ID: <%=@tenant.id%></p>
  <p>First name: <%=@tenant.first_name%></p>
  <p>Last name: <%=@tenant.last_name%></p>
  <p>Age: <%=@tenant.age%></p>
  <p>Nationality: <%=@tenant.nationality%></p>
  <p>Gender: <%=@tenant.gender%></p>
  <p>Preferred Location: <%=@tenant.preferred_location%></p>
  <p>Profession: <%=@tenant.profession%></p>
  <p>Animal: <%=@tenant.yes_no(@tenant.animal)%></p>
  <p>Can live with animal: <%=@tenant.yes_no(@tenant.can_live_with_animal)%></p>
  <p>Smoke: <%=@tenant.yes_no(@tenant.smoke)%></p>
  <p>Can live with smokers: <%=@tenant.yes_no(@tenant.can_live_with_smokers)%></p>
  <a href="/tenants/<%=@tenant.id%>/edit"><button class="blue-button button">Edit</button></a>
  <form class="" action="/tenants/<%=@tenant.id%>/delete" method="post">
    <input class="red-button button" type='submit' value="DELETE">
  </form>
</section>
</div>
